[submodule "httplib"]
	path = httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "lib/httplib"]
	path = lib/httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "libs/httplib"]
	path = libs/httplib
	url = https://github.com/yhirose/cpp-httplib.git
