:root {
  --notif-green-color: #89E75D;
  --notif-yellow-color: #EAD049;
  --notif-red-color: #E75D5D;
}

.notificationContainer {
  width: 100px;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.notification {
  height: 68px;
  min-width: 125px;
  width: max-content;
  margin: 10px;
  background-color: var(--window-bg-color);
  border-radius: 7.805px;
  border: 2.4px solid #000;
  background: #FFF;
  filter: drop-shadow(1.56px 1.56px 0px #000);
  float: right;
  animation: notification-show 5s cubic-bezier(0.23, 1, 0.32, 1);
}

.notification > p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 1.15rem
}

.notificationHeader {
  display: flex;
  height: 40px;
}

.notificationHeader > div {
  height: 15px;
  width: 15px;
  margin-top: 8px;
  margin-left: 8px;
  outline: 2px solid #000;
  border-radius: 100%;
}

.notificationHeader > button {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-top: 4.5px;
  margin-right: 4.5px;
  border-radius: 7px;
  border: 2.5px solid #000;
  background: none;
}

.notificationStatusGreen {
  background-color: var(--notif-green-color);
}

.notificationStatusYellow {
  background-color: var(--notif-yellow-color);
}

.notificationStatusRed {
  background-color: var(--notif-red-color);
}

.notificationHeader > button:hover {
  background-color: black;
}

@keyframes notification-show {
  0% {
    margin-right: -230px;
    opacity: 0;
  }
  10% {
    margin-right: 10px;
    opacity: 1;
  }
  90% {
    margin-right: 10px;
    opacity: 1;
  }
  100% {
    margin-right: -230px;
    opacity: 0;
  }
}
