@font-face {
  font-family: 'Chicago';
  src: url("./assets/fonts/ChicagoBitmap-Regular.ttf");
}

body, input, textarea, button {
  font-family: 'Chicago';
}

button {
  background-color: white;
  border: none;
}

.display-flex {
  display: flex;
}
