#static-page-bg {
  display: inline-block;
  height: 200vh;
  width: 200vw;
  position: fixed;
  top: 0;
  background: url("./img.svg") repeat;
  background-size: 0.5%;
  transform: rotate(25deg);
  opacity: 1;
  animation: reveal 3s;
  scale: 2;
  z-index: -1;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
