:root {
  --feed-search-bar-padding: 10px;
}

.feed-search-bar-container {
  height: 45px;
  width: 100%;
  position: fixed;
  margin: 26.6px auto 0 auto;
  top: 0;
  z-index: 1;
}

.feed-search-bar {
  height: 45px;
  width: 512px;
  margin: auto;
  border-radius: 12px;
}

.feed-search-bar > input {
  height: calc(45px - calc(calc(var(--feed-search-bar-padding) * 2) + 5px));
  width: calc(100% - calc(calc(var(--feed-search-bar-padding) * 2) + 5px));
  padding: var(--feed-search-bar-padding);
  border: 2.4px solid #000;
  outline: none;
  box-shadow: 2.4px 2.4px 0px 0px #000;
  border-radius: 12px;
  font-size: 14.4px;
}

.feedSearchBar > input::placeholder {
   text-align: center; 
}

